.grid-container {
    display: grid;
    gap: 16px; /* space between boxes */

    /* Mobile first: stacked */
    grid-template-columns: 1fr;
}

.box {
    background-color: #838383; /* example color */
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

/* Desktop: two boxes side by side */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

#plate-display {
    width: fit-content;
    background-color: yellow;

    border-radius: 10px;

    box-shadow: 5px 10px 10px gray;

    padding: 10px;

    margin-top: 1rem;

    font-size: 2rem;
    font-weight: bold;
}

.space-after {
    margin-bottom: 1rem;
}

h3 {
    margin-top: 10%;
}
